#reset-password {
    max-width: 1400px;
    @apply mt-0 sm:mt-24 mx-auto
}

#reset-password .cards {
    @apply grid grid-cols-1 sm:grid-cols-2 gap-x-16 gap-y-4 w-full md:w-4/5 sm:w-3/5 grid-flow-row mx-auto
}

#reset-password .card {
    @apply border border-secondary-lighter rounded-md overflow-hidden
}
#reset-password .card-header {
    @apply bg-secondary-min py-3 px-5 border-b border-secondary-lighter
}

#reset-password .card-body {
    @apply bg-white p-5
}