#default-layout .wrapper {
    @apply flex flex-col min-h-screen min-w-full
}

#default-layout header {
    height: 6.25rem;
}

#default-layout footer {
    height: 1.5rem;
}

#default-layout .main {
    flex-grow: 1;
    overflow-y: auto;
    @apply border;
}