/* BUTTONS */
button {
    @apply py-2 px-4 rounded-md shadow-md text-sm
    hover:shadow-lg
    focus:outline-none
    focus:ring-2
    focus:ring-opacity-75
    focus:ring-opacity-75
}

.btn.sm {
    @apply py-1 px-4 text-xs rounded-md
}

.btn.primary {
    @apply bg-primary hover:bg-primary-dark text-white
}

.btn.secondary {
    @apply bg-secondary hover:bg-secondary-dark text-white
}

.btn.success {
    @apply bg-success hover:bg-success-dark text-white
}

.btn.danger {
    @apply bg-danger hover:bg-danger-dark text-white
}
.btn.warning {
    @apply bg-warning hover:bg-warning-dark text-white
}

.btn.info {
    @apply bg-info hover:bg-info-dark text-white
}

.btn.orange {
    @apply bg-orange hover:bg-orange-dark text-white
}

button.btn-sm {
    @apply py-1 px-2 rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-opacity-75 focus:ring-opacity-75 text-sm
}

/* END BUTTONS */