form .form-control {
    @apply mb-6 relative
}

form .form-control input {
    @apply border block border-secondary-lighter px-4 py-2 shadow-md rounded-md w-full focus:outline-none
}

form .form-control small {
    @apply text-danger absolute mt-1 pl-1 text-xs
}