#drawer {
    @apply w-full lg:w-5/6 xl:w-4/6
}

#drawer .app-content {
    @apply flex flex-col w-full ml-4
}

#drawer .icon-open {
    @apply bg-orange px-2 py-1 rounded-xl text-white
}

#drawer .sidebar {
    @apply p-1
}

#drawer .sidebar {
    transition: width 0.8s;
    width:3rem;
}

#drawer .sidebar.open {
    max-width: 17.5rem;
    width: 17.5rem;

}